.side-drawer {
  height: 100%;
  background: #0c003a;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.sidebar-head {
  background-color: #4c5aa1;
  padding: 20px 0;
  color: #fff;
}

.sidebar-nav ul > li > a {
  width: 100%;
  display: inline-block;
  padding: 15px 30px;
  text-align: left;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #0a0327;
  font-size: 14px;
}
.sidebar-nav ul > li:last-child a {
  border-bottom: none;
}
