@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
button {
  font-family: "Montserrat", sans-serif;
}
.App {
  text-align: center;
  background-color: #b1bac9;
  height: 100%;
}
.imgFluid {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}
.only-mob {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mob-hidden {
    display: none;
  }
  .visi-mob {
    opacity: 1;
  }
  .only-mob {
    display: block;
  }
}
